<div class="max-w-4xl mx-auto p-4">
  <button type="button" [routerLink]="['/manager-home/genres']"
    class="flex rounded-md border border-black mt-5 hover:bg-gray-300 ml-3 px-3 py-1">
    &larr; Volver
  </button>
  <div class="flex justify-center text-xl text-center pt-4">
    <h2>{{editMode ? "Edite el nombre del Genero" : "Ingrese el nombre del nuevo Genero"}}</h2>
  </div>
  <form class="my-10 flex flex-col justify-between gap-4 mx-3" [formGroup]="genreForm" (ngSubmit)="submit()">
    <div class="flex flex-col gap-1 items-center sm:items-start">
      <label for="genre">Genero</label>
      <input placeholder="Nombre del genero"
        class="min-w-44 max-w-60 border-2 rounded-md px-2 py-1 border-gray-400 outline-none focus:border-blue-500"
        type="text" formControlName="genre" id="genre">
    </div>
    <div class="flex flex-col items-end sm:flex-row sm:items-center gap-4"
      [ngClass]="!editMode ? 'sm:justify-end sm:items-end' : 'sm:justify-between' ">
      <button *ngIf="editMode"
        class="border-2 py-2 px-4 rounded-md border-black bg-red-600 hover:text-white hover:bg-red-800 hover:border-white"
        type="button" (click)="deleteGenre()">Eliminar genero</button>
      <button [ngClass]="!genreForm.valid ? ' border-gray-400 text-gray-400' : 'hover:bg-gray-300'"
        class="border-2 py-2 px-4 rounded-md  border-black" [disabled]="!genreForm.valid" type="submit">{{ editMode ?
        'Guardar cambios' : 'Agregar Genero' }}</button>
    </div>
  </form>
</div>