input[type=number] {
  appearance: none; /* Propiedad estándar */
}

/* Para Chrome, Safari, Edge */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  margin: 0; 
}

/* Para Firefox */
input[type=number] {
  -moz-appearance: textfield;
}