<!--Ancho maximo y centrado, para que se vea bien en diferentes pantallas-->
<div class="max-w-4xl mx-auto ">

  <div class="flex justify-between">
    <!-- Boton para volver-->
    <button type="button" routerLink="/manager-home"
      class="rounded-md border border-black mt-5 hover:bg-gray-300 ml-3 px-3 py-1">
      &larr; Volver
    </button>
  </div>

  <!--Texto superior-->
  <h1 class=" text-2xl font-bold text-center mb-5">Validar compra con codigo QR</h1>

  <!--Parte del QR-->
  <div class="flex flex-col items-center ">
    <!-- Botón para escanear -->
    <button (click)="scanQRCode()" [disabled]="pressOnce"
      class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600 disabled:cursor-not-allowed disabled:bg-gray-300 disabled:text-gray-500" >
        Iniciar Escaneo
    </button>

    <!-- Video para mostrar la cámara -->
    <div class="mt-4 border border-gray-300 rounded">
      <video id="video" class="w-72 h-auto md:w-96 md:h-auto"></video>
    </div>

    <!-- Mensajes de error -->
    <p *ngIf="errorMessage" class="text-red-500 font-medium">
      {{ errorMessage }}
    </p>

    <!-- Mostrar datos de la compra validada -->
    <!-- Completar los diferentes estilos de los diferentes estados ej: cancelada roja cuando se arregle el estado -->
    <div *ngIf="buyData.total !== 0" [ngClass]="{
      'bg-green-200 border-green-500': buyData.status === 'Válida',
      'bg-red-200 border-red-500': buyData.status === 'Cancelada',
      'bg-gray-200 border-gray-500': buyData.status === 'Expirada'
      }" class="m-4 p-4 border rounded">

      <h2 class="text-lg font-bold">Compra {{buyData.status}}</h2>
      <p><strong>Fecha compra:</strong> {{ buyData.fechaHora | date: 'short' }}</p>
      <p><strong>Total:</strong> {{ buyData.total | currency }}</p>

      <!-- Entradas: -->
      <div *ngIf="buyData.tickets.length > 0" class="mt-2">
        <h3 class="text-lg font-bold mt-4">Entradas:</h3>
        <p><strong>Cine:</strong> {{buyData.tickets[0].show.theater.cinema.name}}</p>
        <p><strong>Pelicula:</strong> {{ buyData.tickets[0].show.movie.name }}</p>
        <p><strong>Cantidad entradas:</strong> {{ buyData.tickets.length }}</p>
        <p><strong>Sala:</strong> {{ buyData.tickets[0].show.theater.id }}</p>
        <p><strong>Fecha-hora Inicio:</strong> {{ buyData.tickets[0].show.dayAndTime | date: 'short'}}</p>
        <p *ngIf="buyData.status === 'Expirada'"><strong>Fecha-hora Final:</strong> {{ buyData.tickets[0].show.finishTime | date: 'short' }}</p>
        <!-- Productos: -->
        <div *ngIf="buyData.snacksBuy.length > 0">
          <h3 class="text-lg font-bold mt-4">Productos:</h3>
          <ul>
            <li *ngFor="let snackB of buyData.snacksBuy">
              <p><strong>{{ snackB.snack.name }}:</strong> {{ snackB.quantity }} unidades</p>
            </li>
          </ul>
        </div>
        <!-- Promociones: -->
        <div *ngIf="buyData.promotionsBuy !== undefined && buyData.promotionsBuy.length > 0 ">
          <h3 class="text-lg font-bold mt-4">Promociones:</h3>
          <ul>
            <li *ngFor="let promo of buyData.promotionsBuy">
              <p><strong>{{ promo.promotion.name }}:</strong> {{ promo.quantity}} unidades</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>