<div class="max-w-4xl mx-auto "> 
    <button type="button" routerLink="/manager-home" class="flex rounded-md border border-black mt-5 hover:bg-gray-300 ml-3 px-3 py-1">
      &larr; Volver
    </button>
  <h1 class=" text-2xl font-bold text-center mb-5">Seleccione su cine</h1>
  <ul>
    <li *ngFor = "let cinema of cinemas" class= "rounded-md border-2 border-black mx-3 mb-3">
      <button [routerLink]='[cinema.id]'  class="w-full text-left hover:bg-gray-300 p-2"> 
        <div class="ml-1">
          {{cinema.name}}
        </div>
        <div class="ml-8">
        Tiene {{cinema.theaters.length}} Salas
        </div>
      </button> 
    </li>
  </ul>
  <p *ngIf="cinemas.length === 0 && !errorMessage && !loading" class="text-xl  text-red-600 text-center">
    No existen cines creados. Por favor, intente crear uno.
  </p>
  <p *ngIf="errorMessage && !loading" class="text-xl  text-red-600 text-center">
    {{ errorMessage }}
  </p>
</div>
