<div *ngIf="!loading">

  <div *ngIf="!buyAcepted" class="py-3 w-full">

    <!-- Seccion -->
    <div class="flex flex-row justify-evenly text-lg py-2 mb-9 px-2">
      <h3 [ngClass]="{'text-blue-600 text-lg': step === 1, 'text-black text-base': step !== 1}">
        1. Selecciona tu Ticket
      </h3>
      <h3 [ngClass]="{'text-blue-600 text-lg': step === 2, 'text-black text-base': step !== 2}">
        2. Selecciona tu ubicación
      </h3>
      <h3 [ngClass]="{'text-blue-600 text-lg': step === 3, 'text-black text-base': step !== 3}">
        3. Confirmar compra
      </h3>
    </div>

    <div class="flex justify-center items-center md:w-2/3 mx-4 md:m-auto">

      <!-- Paso 1: Seleccionar Ticket -->

      <div class="w-full" [ngClass]="{'block': step === 1, 'hidden': step !== 1}">

        <!-- Datos de la peli -->
        <div class="p-4">
          <div class="flex gap-4">
            <img class="w-32 h-44" src="{{show.movie.imageLink}}" alt="{{show.movie.imageLink}}">
            <div>
              <h3 class="text-2xl mb-1.5">{{show.movie.name}}</h3>
              <p class="text-xl">{{showDay}} a las {{showHour}}</p>
              <p>{{show.format.formatName}} - {{show.language.languageName}}</p>
            </div>
          </div>
        </div>

        <div class="p-4 bg-gray-100">
          <div class="hidden sm:block">
            <!-- Tabla para pantallas medianas y grandes    
           
           terminar de arreglar el diseño para mobile y acordarse de sacar la negacion en el archivo de movie-details.component
          -->
            <table class="table-auto w-full border-collapse border rounded-2xl border-black ">
              <thead>
                <tr class="bg-gray-200 text-gray-700">
                  <th class="p-4">Tipo de Entrada</th>
                  <th class="p-4">Cantidad</th>
                  <th class="p-4">Precio</th>
                  <th class="p-4">Subtotal</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let ticket of items">
                  <td class="p-4">{{ ticket.descripcion }}</td>
                  <td class="p-4 flex items-center justify-center space-x-2">
                    <button (click)="updateQuantity(ticket, -1)"
                      class="px-2 py-1 text-white bg-blue-500 rounded hover:bg-blue-600 disabled:opacity-50"
                      [disabled]="ticket.counter <= 0">
                      -
                    </button>
                    <span>{{ ticket.counter }}</span>
                    <button (click)="updateQuantity(ticket, 1)"
                      class="px-2 py-1 text-white bg-blue-500 rounded hover:bg-blue-600">
                      +
                    </button>
                  </td>
                  <td class="p-4">{{ ticket.costo | currency }}</td>
                  <td class="p-4">{{ (ticket.costo * ticket.counter) | currency }}</td>
                </tr>
              </tbody>
              <tfoot>
                <tr class="bg-gray-200 font-semibold">
                  <td colspan="3" class="p-4 text-right">Total:</td>
                  <td class="p-4">{{ getTotal() | currency }}</td>
                </tr>
              </tfoot>
            </table>
          </div>

          <!-- Tabla para pantallas pequeñas -->
          <div class="block sm:hidden">
            <div *ngFor="let ticket of items" class="mb-4 p-4 bg-white shadow rounded">
              <h3 class="font-semibold text-gray-700">{{ ticket.descripcion }}</h3>
              <div class="flex justify-between mt-2">
                <span>Cantidad:</span>
                <div class="flex items-center space-x-2">
                  <button (click)="updateQuantity(ticket, -1)"
                    class="px-2 py-1 text-white bg-blue-500 rounded hover:bg-blue-600 disabled:opacity-50"
                    [disabled]="ticket.counter <= 0">
                    -
                  </button>
                  <span>{{ ticket.counter }}</span>
                  <button (click)="updateQuantity(ticket, 1)"
                    class="px-2 py-1 text-white bg-blue-500 rounded hover:bg-blue-600">
                    +
                  </button>
                </div>
              </div>
              <div class="flex justify-between mt-2">
                <span>Precio:</span>
                <span>{{ ticket.costo | currency }}</span>
              </div>
              <div class="flex justify-between mt-2 font-semibold">
                <span>Subtotal:</span>
                <span>{{ (ticket.costo * ticket.counter) | currency }}</span>
              </div>
            </div>
            <div class="mt-4 text-right font-semibold">
              Total: {{ getTotal() | currency }}
            </div>
          </div>
        </div>
        <div *ngIf="totalEntradas !==0 " class="w-full flex">
          <button (click)="nextStep()"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded m-auto mt-5">
            Siguiente
          </button>
        </div>
      </div>

      <!-- Paso 2: Seleccionar Ubicación -->
      <div [ngClass]="{'block': step === 2, 'hidden': step !== 2}">
        <h3 class="text-2xl mb-10">Elegir asiento</h3>
        <p class="text-xl mb-10 text-blue-600">Acá estaría, si lo podemos hacer, la parte de los asientos :p.</p>
        <p class="text-xl">Estas pelicula se proyecta en la sala: {{2}} que tiene {{32}}</p>
        <!--
      <p>Total de entradas: {{totalEntradas}}</p>
      <p>Estas pelicula se proyecta en la sala: {{show.theater.id}} que tiene {{showThaterCantSillas}}</p>
      <p>Con las entradas que se comprar quedan: {{showThaterCantSillas2}} entradas disponibles</p>
      -->
        <div class="flex justify-between mt-20">
          <button (click)="previousStep()"
            class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded">Anterior</button>
          <button (click)="nextStep()"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Siguiente</button>
        </div>
      </div>

      <!-- Otros -------------------------------------------------------------------------------- -->

      <!-- Paso 3: Confirmar compra -->
      <div [ngClass]="{'block': step === 3, 'hidden': step !== 3}">

        <h3 class="text-xl font-semibold mb-3">Datos de la compra</h3>
        <p class="text-lg">Pelicula: {{show.movie.name}}</p>
        <p class="text-lg">Formato: {{show.format.formatName}}</p>
        <p class="text-lg">Idioma: {{show.language.languageName}}</p>
        <p class="text-lg">Fecha: {{showDay}}</p>
        <p class="text-lg">Hora: {{showHour}}</p>
        <p class="text-lg">Sala: {{show.theater.id}}</p>
        <p class="text-lg">Cantidad entradas: {{totalEntradas}}</p>

        <!--
      <h3 class="text-xl font-semibold mb-3">Datos de la compra</h3>
      <p class="text-lg">Pelicula: {{showp.name}}</p>
      <p class="text-lg">Formato: {{showp.formato}}</p>
      <p class="text-lg">Idioma: {{showp.idioma}}</p>
      <p class="text-lg">Fecha: {{showp.diaFuncion}}</p>
      <p class="text-lg">Hora: {{showp.horario}}</p>
      <p class="text-lg">Sala: {{2}}</p>
      <p class="text-lg">Cantidad entradas: {{totalEntradas}}</p>
      -->
        <div class="flex justify-between mt-8">
          <button (click)="previousStep()"
            class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded">Anterior</button>
          <button (click)="confirmPurchase()"
            class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">Confirmar Compra</button>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="buyAcepted" class="h-[50vh] flex gap-2 justify-center items-center">
    <div>
      <svg xmlns="http://www.w3.org/2000/svg" class="w-7 fill-green-500" viewBox="0 0 512 512">
        <path
          d="M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-111 111-47-47c-9.4-9.4-24.6-9.4-33.9 0s-9.4 24.6 0 33.9l64 64c9.4 9.4 24.6 9.4 33.9 0L369 209z" />
      </svg>
    </div>
    <p class="text-xl">Gracias por tu compra, {{user.name}}</p>
    <!--
    <div>
      <svg xmlns="http://www.w3.org/2000/svg" class="w-7 fill-red-500"
        viewBox="0 0 512 512">
        <path
          d="M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM175 175c-9.4 9.4-9.4 24.6 0 33.9l47 47-47 47c-9.4 9.4-9.4 24.6 0 33.9s24.6 9.4 33.9 0l47-47 47 47c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9l-47-47 47-47c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-47 47-47-47c-9.4-9.4-24.6-9.4-33.9 0z" />
      </svg>
    </div>
    <p class="text-xl">La compra no se pudo realizar, intente más tarde.</p>
    -->
  </div>
</div>