<div class="max-w-4xl mx-auto "> 
  <div class="flex justify-between gap-1">
    <button type="button" routerLink="/manager-home/theaters" class="flex rounded-md border border-black mt-5 hover:bg-gray-300 ml-3 px-3 py-1">
      &larr; Volver
    </button>
    <button type="button" routerLink="new"
      class="rounded-md border border-black mt-5 hover:bg-gray-300 mr-3 px-3 py-1">
      Agregar una Sala
    </button>
  </div>
  <h1 class=" text-2xl font-bold text-center mb-5">Seleccione la sala que desea administrar</h1>
  <ul>
    <li *ngFor = "let theater of theaters" class= "border-2 border-black mx-3 mb-3 rounded-md">
      <button [routerLink]='["edit", theater.id]'  class="w-full text-left hover:bg-gray-300 p-2"> 
        <div class="flex flex-col justify-between items-center ml-1 px-2 sm:flex-row">
          <p>Sala {{theater.id}}</p>
          <div class="flex flex-row justify-center items-center gap-3">
            Cap. maxima: {{theater.numChairs}}
            <img class="w-10" src="../../assets/seat.svg"/>
          </div>
        </div>
      </button> 
    </li>
  </ul>
  <p *ngIf="theaters.length === 0 && !errorMessage && !loading" class="text-xl  text-red-600 text-center">
    Este cine no tiene salas, por favor cree alguno.
  </p>
  <p *ngIf="errorMessage && !loading" class="text-xl  text-red-600 text-center">
    {{ errorMessage }}
  </p>
</div>
