<ul class="flex flex-nowrap flex-col justify-center items-center">
  <li
    class="flex flex-nowrap flex-col rounded-sm w-40 h-60 border-black m-4 overflow-hidden box-border cursor-pointer"
    *ngFor="let movie of movies"
    [title]="movie.name"
  >
    <img
      class="object-cover w-full h-full"
      src="{{ movie.imageLink }}"
      alt="{{ movie.name }}"
    />
    <a
      [routerLink]="['/movies', movie.id]"
      class="bg-blue-900 text-center text-white min-w-full max-h-8 text-base py-0.5"
    >
      {{ movie.name }}
    </a>
  </li>
</ul>
