<section>
  <h1 *ngIf="movie != null"
    class="text-center text-2xl font-bold bg-black text-white w-full px-12 py-4 md:text-4xl md:py-7">{{movie.name}}</h1>
  <div class=" mx-4 pb-6 flex flex-col items-start gap-4 md:justify-center md:flex-row sm:mx-8">
    <div *ngIf="movie != null" class="mt-6 flex flex-col gap-4 md:max-w-lg">
      <img src="{{movie.imageLink}}" alt="{{movie.name}}" [title]="movie.name" />
      <div>
        <ul class="flex flex-row">
          <li class="font-bold text-xl px-4 py-2 cursor-pointer border-gray-400" [ngClass]="!isDetailsOpen
              ? 'border-2 border-b-0 ' 
              : 'border-0 border-b-2' " (click)="handleChangeOption(false)">Descripción</li>
          <li class="font-bold text-xl px-4 py-2 cursor-pointer w-min border-gray-400" [ngClass]="isDetailsOpen
              ? 'border-2 border-b-0' 
              : 'border-0 border-b-2' " (click)="handleChangeOption(true)">Detalles</li>
          <span class="w-full border-gray-400 border-b-2">
          </span>
        </ul>
        <div class="pt-4" [ngClass]="!isDetailsOpen
            ? 'block'
            : 'hidden' ">
          {{movie.description}}
        </div>
        <div class="pt-4 flex flex-col flex-nowrap gap-1" [ngClass]="isDetailsOpen
            ? 'block'
            : 'hidden' ">
          <div class="flex">
            <p><strong class="text-base">Titulo Original:&nbsp;</strong>{{movie.name}}</p>
          </div>
          <div class="flex">
            <ul class="flex flex-row flex-wrap">
              <li>
                <strong class="text-base">Generos:&nbsp;</strong>
              </li>
              <li *ngFor="let genre of movie.genres" class="text-base list-none">{{genre.name}}&emsp;</li>
            </ul>
          </div>
          <div class="flex">
            <ul class="flex flex-row flex-wrap">
              <li>
                <strong class="text-base">Idiomas:&nbsp;</strong>
              </li>
              <li *ngFor="let language of movie.languages" class="text-base">{{language.languageName}}&emsp;</li>
            </ul>
          </div>
          <div class="flex">
            <ul class="flex flex-row flex-wrap">
              <li>
                <strong class="text-base">Formatos:&nbsp;</strong>
              </li>
              <li *ngFor="let format of movie.formats" class="text-base">{{format.formatName}}&emsp;</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-col max-w-screen-sm gap-1 mt-4">
      <h4>ELEGIR PELICULA POR:</h4>
      <div class="flex flex-row gap-2">
        <p class="hidden font-bold bg-gray-500 text-white p-2 w-24 sm:block">Cine</p>
        <app-selector *ngIf="isCinemaLoaded" filter="" placeholder="Seleccionar Cine" [items]="cinemas"
          [selectedValue]="cinema" (selectionChange)="handleItemSelected($event)"></app-selector>
      </div>
      <div>
        <ul class="flex flex-row flex-wrap gap-1 items-center justify-start">
          <li *ngFor="let day of days"
            class="cursor-pointer py-2 px-4 w-28 rounded-sm select-none border-gray-400 border-x border-y"
            [ngClass]="daySelected === day.name ? 'bg-blue-600 hover:bg-blue-600' : 'hover:bg-blue-400' "
            (click)="handleDaySelected(day.name)">
            {{day.name}}
          </li>
        </ul>
      </div>
      <div>
        <p class="text-red-600" *ngIf="!cinema">Por Favor seleccione un cine</p>
        <p class="text-red-600" *ngIf="filteredShows.length === 0 && cinema">Lo sentimos, no hay funciones para este
          dia.</p>
        <ul class="flex flex-row flex-wrap sm:flex-row justify-start items-center gap-1">
          <li (click)="warningModal(show)" *ngFor="let show of filteredShows"
            class="flex flex-col border-2 rounded-md border-gray-500 px-4 py-2 gap-2 w-1/3 min-w-40 cursor-pointer hover:bg-blue-100 hover:border-blue-600 transition-all">
            <div class="flex flex-row gap-1">
              <div>
                {{show.format.formatName}}
              </div>
              <strong> · </strong>
              <div>
                {{show.language.languageName}}
              </div>
            </div>
            <div class="bg-green-500 text-white px-2 py-1 w-min select-none transition-all rounded-md">
              {{getShowHourAndDay(show)}}
            </div>
          </li>
        </ul>
      </div>
      <div *ngIf="messageWarning" class="m-10">
        <p [style.white-space]="'pre-line'" class="text-xl">{{messageWarning}}</p>
        <button class="border-2 border-blue-700 mt-4 py-1 px-3 rounded-md hover:bg-blue-700 hover:text-white"
          (click)="loguearse()">Continuar</button>
      </div>
    </div>
  </div>
</section>