<div class="max-w-4xl mx-auto ">
  <div class="flex justify-between">
    <button type="button" routerLink="/manager-home"
      class="rounded-md border border-black mt-5 hover:bg-gray-300 ml-3 px-3 py-1">
      &larr; Volver
    </button>
    <button type="button" routerLink="/manager-home/genres/new"
      class="rounded-md border border-black mt-5 hover:bg-gray-300 mr-3 px-3 py-1">
      Agregar Nuevo Genero
    </button>
  </div>
  <h1 class=" text-2xl font-bold text-center mb-5">Generos</h1>
  <ul>
    <li *ngFor="let genre of genres" class="rounded-md border-2 border-black mx-3 mb-3">
      <button [routerLink]='[genre.id]' class="w-full text-left hover:bg-gray-300 p-2">
        <div class="ml-1">
          {{genre.name}}
        </div>
      </button>
    </li>
  </ul>
  <p *ngIf="genres.length === 0 && !errorMessage && !loading" class="text-xl font-bold text-center text-red-600 bg-red-100 border border-red-600 rounded-md p-2 mx-auto w-4/5 shadow-lg">
    No existen generos creados. Por favor, intente crear uno.
  </p>
  <p *ngIf="errorMessage" class="text-xl font-bold text-center text-red-600 bg-red-100 border border-red-600 rounded-md p-2 mx-auto w-4/5 shadow-lg">
    {{ errorMessage }}
  </p>
</div>