<nav [ngClass]="{ 'pb-0': isMenuOpen }"
  class="bg-blue-900 items-center w-full flex flex-row flex-wrap justify-between py-4 md:flex-row lg:flex-row">
  <p class="pl-4 text-2xl font-medium text-white cursor-pointer" [routerLink]="['/']" (click)="closeMenu()">
    Cine UTN
  </p>
  <button class="text-white focus:outline-none xl:hidden" (click)="toggleMenu()">
    <svg *ngIf="isMenuOpen" xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 8 8"
      class="mr-4 fill-white">
      <path
        d="M1.646 1.646a.5.5 0 0 1 .708 0L4 3.293l1.646-1.647a.5.5 0 0 1 .708.708L4.707 4l1.647 1.646a.5.5 0 0 1-.708.708L4 4.707l-1.646 1.647a.5.5 0 0 1-.708-.708L3.293 4 1.646 2.354a.5.5 0 0 1 0-.708z" />
    </svg>
    <svg *ngIf="isMenuOpen === false" xmlns="http://www.w3.org/2000/svg" class="h-7 w-7 mr-4 fill-white"
      viewBox="0 0 448 512">
      <path class="w-full h-full"
        d="M0 96C0 78.3 14.3 64 32 64l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 128C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 288c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32L32 448c-17.7 0-32-14.3-32-32s14.3-32 32-32l384 0c17.7 0 32 14.3 32 32z" />
    </svg>
  </button>

  <!-- Menu -->
  <div [ngClass]="{
      block: isMenuOpen,
      hidden: !isMenuOpen
    }" class="mt-1.5 w-full text-white xl:flex xl:items-center xl:w-auto hidden xl:pr-4">
    <a class="text-white px-3 gap-3 py-2 xl:py-0 text-lg flex flex-nowrap flex-row items-center pl-4 cursor-pointer hover:bg-slate-900 xl:hover:bg-inherit xl:hover:text-slate-900 xl:hover: duration-300 xl:pl-0 xl:ml-2"
      [routerLink]="isLoggedIn ? ['/my-account'] : ['/login']" (click)="closeMenu()">
      <div class="w-8 h-8 flex items-center justify-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-person-circle"
          viewBox="0 0 16 16">
          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
          <path fill-rule="evenodd"
            d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
        </svg>
      </div>
      {{isLoggedIn ? 'Mi cuenta' : 'Iniciar sesion'}}
    </a>
    <a *ngIf="isManager"
      class="text-white px-3 gap-3 py-2 xl:py-0 text-lg flex flex-nowrap flex-row items-center pl-4 cursor-pointer hover:bg-slate-900 xl:hover:bg-inherit xl:hover:text-slate-900 xl:hover: duration-300 xl:pl-0 xl:ml-2"
      [routerLink]="['/manager-home']" (click)="closeMenu()">
      <div class="w-8 h-8 flex items-center justify-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-boxes"
          viewBox="0 0 16 16">
          <path
            d="M7.752.066a.5.5 0 0 1 .496 0l3.75 2.143a.5.5 0 0 1 .252.434v3.995l3.498 2A.5.5 0 0 1 16 9.07v4.286a.5.5 0 0 1-.252.434l-3.75 2.143a.5.5 0 0 1-.496 0l-3.502-2-3.502 2.001a.5.5 0 0 1-.496 0l-3.75-2.143A.5.5 0 0 1 0 13.357V9.071a.5.5 0 0 1 .252-.434L3.75 6.638V2.643a.5.5 0 0 1 .252-.434zM4.25 7.504 1.508 9.071l2.742 1.567 2.742-1.567zM7.5 9.933l-2.75 1.571v3.134l2.75-1.571zm1 3.134 2.75 1.571v-3.134L8.5 9.933zm.508-3.996 2.742 1.567 2.742-1.567-2.742-1.567zm2.242-2.433V3.504L8.5 5.076V8.21zM7.5 8.21V5.076L4.75 3.504v3.134zM5.258 2.643 8 4.21l2.742-1.567L8 1.076zM15 9.933l-2.75 1.571v3.134L15 13.067zM3.75 14.638v-3.134L1 9.933v3.134z" />
        </svg>
      </div>
      Panel Enc.
    </a>
    <a class="text-white px-3 gap-3 py-2 xl:py-0 text-lg flex flex-nowrap flex-row items-center pl-4 cursor-pointer hover:bg-slate-900 xl:hover:bg-inherit xl:hover:text-slate-900 xl:hover: duration-300 xl:pl-0 xl:ml-2"
      [routerLink]="['/']" (click)="closeMenu()">
      <div class="w-8 h-8 flex items-center justify-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-film"
          viewBox="0 0 16 16">
          <path
            d="M0 1a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1zm4 0v6h8V1zm8 8H4v6h8zM1 1v2h2V1zm2 3H1v2h2zM1 7v2h2V7zm2 3H1v2h2zm-2 3v2h2v-2zM15 1h-2v2h2zm-2 3v2h2V4zm2 3h-2v2h2zm-2 3v2h2v-2zm2 3h-2v2h2z" />
        </svg>
      </div>
      Cartelera
    </a>
    <a class="text-white px-3 gap-3 py-2 xl:py-0 text-lg flex flex-nowrap flex-row items-center pl-4 cursor-pointer hover:bg-slate-900 xl:hover:bg-inherit xl:hover:text-slate-900 xl:hover: duration-300 xl:pl-0 xl:ml-2"
      [routerLink]="['/promociones']" (click)="closeMenu()">
      <div class="w-8 h-8 flex items-center justify-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-tags"
          viewBox="0 0 16 16">
          <path
            d="M3 2v4.586l7 7L14.586 9l-7-7zM2 2a1 1 0 0 1 1-1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 2 6.586z" />
          <path
            d="M5.5 5a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1m0 1a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3M1 7.086a1 1 0 0 0 .293.707L8.75 15.25l-.043.043a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 0 7.586V3a1 1 0 0 1 1-1z" />
        </svg>
      </div>
      Promociones
    </a>

    <!--Eventos-->
    <a class="text-white px-3 gap-3 py-2 xl:py-0 text-lg flex flex-nowrap flex-row items-center pl-4 cursor-pointer hover:bg-slate-900 xl:hover:bg-inherit xl:hover:text-slate-900 xl:hover: duration-300 xl:pl-0 xl:ml-2"
      [routerLink]="['/events']" (click)="closeMenu()">
      <div class="w-8 h-8 flex items-center justify-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-clock"
          viewBox="0 0 16 16">
          <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z" />
          <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0" />
        </svg>
      </div>
      Eventos
    </a>
    <a *ngIf="isLoggedIn"
      class="text-white px-3 gap-3 py-2 xl:py-0 text-lg flex flex-nowrap flex-row items-center pl-4 cursor-pointer hover:bg-slate-900 xl:hover:bg-inherit xl:hover:text-slate-900 xl:hover: duration-300 xl:pl-0 xl:ml-2"
      [routerLink]="['/login']" (click)="logout()" (click)="closeMenu()">
      <div class="w-8 h-8 flex items-center justify-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-door-closed"
          viewBox="0 0 16 16">
          <path d="M3 2a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v13h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3zm1 13h8V2H4z" />
          <path d="M9 9a1 1 0 1 0 2 0 1 1 0 0 0-2 0" />
        </svg>
      </div>
      Cerrar sesión
    </a>
  </div>
</nav>