<div class="max-w-4xl mx-auto">
  <button type="button" [routerLink]="['/manager-home/showtimes',cinema.id]"
    class="flex rounded-md border border-black mt-5 hover:bg-gray-300 ml-3 px-3 py-1">
    &larr; Volver
  </button>
  <div class="flex justify-center text-xl text-center pt-4">
    <h2>{{editMode ? "Edite los datos de su Funcion" : "Ingrese los datos de la nueva funcion"}}</h2>
  </div>
  <form class="my-10 flex flex-col justify-between gap-4 mx-3" [formGroup]="showtimeForm" (ngSubmit)="submit()">
    <div class="flex flex-col justify-center gap-3">
      <label for="startDate">Dia y hora de la funcion</label>
      <input id="startDate" formControlName="startDate"
        class=" border-2 rounded-md px-2 py-1 border-gray-400 outline-none focus:border-blue-500" type="datetime-local"
        placeholder="fecha Inicio" />
      <label for="finishDate">Dia y hora de finalizacion de la funcion</label>
      <input id="finishDate" formControlName="finishDate"
        class=" border-2 rounded-md px-2 py-1 border-gray-400 outline-none focus:border-blue-500" type="datetime-local"
        placeholder="fecha fin" />

      <select name="theater_select" formControlName="selectTheaterId"
        class="flex items-center justify-between bg-white border border-gray-300 w-full rounded px-4 py-2 cursor-pointer">
        <option *ngIf="editMode" [ngValue]="null" class="text-gray-900">Seleccione la sala</option>
        <option *ngFor="let theater of cinema.theaters" [ngValue]="theater.id">Sala {{theater.id}}</option>
      </select>

      <select name="movie_select" (change)="onMovieChange()" formControlName="selectMovieId"
        class="flex items-center justify-between bg-white border border-gray-300 w-full rounded px-4 py-2 cursor-pointer">
        <option *ngIf="editMode" [ngValue]="null" class="text-gray-900">Seleccione una pelicula</option>
        <option *ngFor="let movie of cinema.movies" [ngValue]="movie.id">{{movie.name}}</option>
      </select>

      <select name="format_select" formControlName="selectFormatId"
        class="flex items-center justify-between bg-white border border-gray-300 w-full rounded px-4 py-2 cursor-pointer">
        <option *ngIf="editMode" [ngValue]="null" class="text-gray-900">Seleccione el formato</option>
        <option *ngFor="let format of formats" [ngValue]="format.id">{{format.formatName}}</option>
      </select>

      <select name="language_select" formControlName="selectLanguageId"
        class="flex items-center justify-between bg-white border border-gray-300 w-full rounded px-4 py-2 cursor-pointer">
        <option *ngIf="editMode" [ngValue]="null" class="text-gray-900">Seleccione el idioma</option>
        <option *ngFor="let language of languages" [ngValue]="language.id">
          {{language.languageName}}</option>
      </select>

    </div>
    <div class="flex flex-col items-end sm:flex-row sm:justify-between sm:items-center gap-4">
      <button *ngIf="editMode"
        class="border-2 py-2 px-4 rounded-md border-black bg-red-600 hover:text-white hover:bg-red-800 hover:border-white"
        type="button" (click)="deleteShowtime()">Eliminar sala</button>
      <button [ngClass]="!showtimeForm.valid ? ' border-gray-400 text-gray-400' : 'hover:bg-gray-300'"
        [ngClass]="!editMode ? 'self-end' : ''" class="border-2 py-2 px-4 rounded-md  border-black"
        [disabled]="!showtimeForm.valid" type="submit">{{ editMode ? 'Guardar cambios' : 'Agregar sala' }}</button>
    </div>
  </form>
</div>