<div class="max-w-4xl mx-auto px-4">
  <button type="button" [routerLink]="['/manager-home/showtimes',cinemaId]"
    class="flex rounded-md border border-black mt-5 hover:bg-gray-300 ml-3 px-3 py-1">
    &larr; Volver
  </button>
  <div class="flex justify-center text-xl text-center pt-4">
    <h2>{{editMode ? "Edite los datos de su Funcion" : "Ingrese los datos de la nueva funcion"}}</h2>
  </div>
  <form class="my-10 flex flex-col justify-between gap-4 mx-3" [formGroup]="showtimeForm" (ngSubmit)="submit()">
    <div class="flex flex-col justify-center gap-2">
      <div class="flex flex-col gap-1">
        <label for="startDate">Dia y hora de inicio de la funcion</label>
        <input id="startDate" formControlName="startDate"
          class=" border-2 rounded-md px-2 py-1 border-gray-400 outline-none focus:border-blue-500"
          type="datetime-local" placeholder="fecha Inicio" />
      </div>
      <div class="flex flex-col gap-1">
        <label for="theater">Sala</label>
        <select id="theater" name="theater_select" formControlName="selectTheaterId"
          class="flex items-center justify-between bg-white border border-gray-300 w-full rounded px-4 py-2 cursor-pointer">
          <option [ngValue]="null" class="text-gray-900">Seleccione la sala</option>
          <option *ngFor="let theater of theaters" [ngValue]="theater.id">Sala {{theater.id}}</option>
        </select>
        <span *ngIf="theaters.length == 0" class="text-red-500">Este cine no tiene salas, por favor cree una sala</span>
      </div>
      <div class="flex flex-col gap-1">
        <label for="movie">Pelicula</label>
        <select id="movie" name="movie_select" (change)="onMovieChange()" formControlName="selectMovieId"
          class="flex items-center justify-between bg-white border border-gray-300 w-full rounded px-4 py-2 cursor-pointer">
          <option [ngValue]="null" class="text-gray-900">Seleccione una pelicula</option>
          <option *ngFor="let movie of movies" [ngValue]="movie.id">{{movie.name}}</option>
        </select>
        <span *ngIf="movies.length == 0" class="text-red-500">Este cine no tiene peliculas asociadas, por favor asocie
          alguna pelicula al cine</span>
      </div>
      <div class="flex flex-col gap-1">
        <label for="format">Formato</label>
        <select id="format" name="format_select" formControlName="selectFormatId"
          class="flex items-center justify-between bg-white border border-gray-300 w-full rounded px-4 py-2 cursor-pointer">
          <option [ngValue]="null" class="text-gray-900">Seleccione el formato</option>
          <option *ngFor="let format of formats" [ngValue]="format.id">{{format.formatName}}</option>
        </select>
      </div>
      <div class="flex flex-col gap-1">
        <label for="language">Idioma</label>
        <select id="language" name="language_select" formControlName="selectLanguageId"
          class="flex items-center justify-between bg-white border border-gray-300 w-full rounded px-4 py-2 cursor-pointer">
          <option [ngValue]="null" class="text-gray-900">Seleccione el idioma</option>
          <option *ngFor="let language of languages" [ngValue]="language.id">
            {{language.languageName}}</option>
        </select>
      </div>
    </div>
    <div class="flex flex-col items-end sm:flex-row sm:items-center gap-4"
      [ngClass]="!editMode ? 'sm:justify-end sm:items-end' : 'sm:justify-between' ">
      <button *ngIf="editMode"
        class="rounded-md border-2 border-black mt-5 bg-red-600 text-white hover:bg-red-800 py-2 px-4" type="button"
        (click)="deleteShowtime()">Eliminar Funcion</button>
      <button [ngClass]="!showtimeForm.valid ? ' border-gray-400 text-gray-400' : 'hover:bg-gray-300'"
        class="border-2 py-2 px-4 rounded-md  border-black" [disabled]="!showtimeForm.valid" type="submit">{{ editMode ?
        'Guardar cambios' : 'Agregar Funcion' }}</button>
    </div>
  </form>

  <div *ngIf="errorMessage && errorMessage !== ''"
    class="text-xl font-semibold text-center text-red-600 bg-red-100 border border-red-600 rounded-md px-3 py-2 
    mx-auto w-4/5 shadow-lg">
    <p>{{errorMessage}}</p>
  </div>

</div>