<div class="max-w-7xl m-auto p-6">

  <!-- Bienvenida -->
  <div>
    <div class="bg-gradient-to-r from-blue-500 to-indigo-500 text-white p-6 mb-6 rounded-lg md:py-7">
      <h1 class="text-2xl md:text-3xl font-bold">¡Bienvenido/a, {{user?.name}}!</h1>
    </div>
  </div>

  <div class="shadow-lg rounded-lg p-6 pb-16 bg-white">

    <div>
      <h2 class="text-xl font-semibold md:text-2xl mb-2">Detalles de la Compra</h2>
      <p class="text-gray-600 text-base md:text-lg mb-0">Revisá los detalles de tu compra.</p>
      <p class="text-gray-600 text-sm md:text-base mb-10 italic">
        NOTA: La compra solo se puede cancelar con 12hs de antelación.
      </p>
    </div>

    <!-- Detalles de la compra -->
    
    <!-- Para pantallas medianas y grandes-->
    <div class="hidden md:block mx-24 mb-8">
      <div class="grid grid-cols-3 place-items-center rounded-xl border-2 border-gray-300 py-4">
    
        <div class="text-center w-full border-r-2 border-gray-300">
          <h4 class="font-semibold py-1.5">Numero de compra:</h4>
          <p>{{buy.id}}</p>
        </div>
    
        <div class="text-center w-full border-r-2 border-gray-300">
          <h4 class="font-semibold py-1.5">Fecha de compra:</h4>
          <p>{{formatDateAndHour(buy.fechaHora)}}</p>
        </div>
    
        <div class="text-center w-full">
          <h4 class="font-semibold py-1.5">Total:</h4>
          <p>{{buy.total | currency}}</p>
        </div>
      </div>
    </div>

    <!-- Detalles de la pelicula -->
    <div class="flex flex-col items-center md:items-start md:mx-28">

      <h3 class="text-xl font-semibold py-3 md:hidden">{{show.movie.name}}</h3>
      
      <div class="md:flex md:flex-row md:gap-14">

        <img src="{{show.movie.imageLink}}" alt="" class="w-32 m-auto md:w-40 md:h-56 rounded-lg shadow-md">

        <div class="md:py-3">
          <h3 class="hidden md:block text-xl font-semibold">{{show.movie.name}}</h3>

          <div class="mt-4 flex gap-2 mb-1">
            <p class="font-semibold text-gray-700">Fecha:</p>
            <p>{{formatDateAndHour(show.dayAndTime)}}</p>
          </div>
          <div class="flex gap-2 mb-1">
            <p class="font-semibold text-gray-700">Formato:</p>
            <p>{{show.format.formatName}}</p>
          </div>
          <div class="flex gap-2 mb-1">
            <p class="font-semibold text-gray-700">Lenguaje:</p>
            <p>{{show.language.languageName}}</p>
          </div>
          <div class="flex space-x-2">
            <p class="font-semibold text-gray-700">Asientos:</p>
            <ul class="flex flex-row gap-1.5">
              <li *ngFor="let t of buy.tickets let i = index">
                <p>{{t.seat.seatNumber}}{{i < buy.tickets.length -1 ? ", " : '' }}</p>
              </li>
            </ul>
          </div>
          
        </div>
        
      </div>
      
    </div>

    <!-- Productos comprados -->
    <div *ngIf="buy.snacksBuy.length !== 0 && buy.promotionsBuy?.length !== 0">
      <div class="mt-6 md:mx-28">
        <h3 class="text-lg font-semibold mb-3">Productos y Promociones</h3>
        <div class="hidden ml-4 mb-3 md:grid grid-cols-[35px_1fr_2fr]">
          <h4 class="font-semibold">Cant.</h4>
          <h4 class="font-semibold flex justify-center">Descripcion</h4>
          <h4 class="font-semibold flex justify-end pr-7">Total</h4>
        </div>
        
        <div class="space-y-2">
          <div *ngFor="let product of buy.snacksBuy" 
          class="flex justify-between md:grid md:grid-cols-[35px_1fr_2fr] bg-gray-50 rounded-lg px-4 py-3">
            <p class="hidden md:flex justify-center">{{product.quantity}}</p>
            <p class="md:flex justify-center">{{product.snack.name}}</p>
            <p class="md:flex justify-end">{{product.snack.price * product.quantity| currency}}</p>

          </div>
          <div *ngFor="let prom of buy.promotionsBuy" 
          class="flex justify-between md:grid md:grid-cols-[35px_1fr_2fr] bg-gray-50 rounded-lg px-4 py-3">
            <p class="hidden md:flex justify-center">{{prom.quantity}}</p>
            <p class="md:flex justify-center">{{prom.promotion.name}}</p>
            <p class="md:flex justify-end">{{prom.promotion.price * prom.quantity | currency}}</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Precio total -->
    <div class="flex justify-between items-center p-4 bg-gray-200 rounded-lg mt-4 md:hidden">
      <span class="md:text-lg font-semibold">Total</span>
      <span class="text-lg font-semibold">{{buy.total | currency}}</span>
    </div>



    <div class="flex flex-col items-center rounded-lg p-4 mt-4 shadow-sm md:shadow-md">
      <div class="">
        <img [src]="qrCodeUrl" alt="QR Code"
          class="w-44 h-44 rounded-lg">
      </div>
      <p class="mt-4 text-sm text-gray-600 italic">El encargado usara este codigo para validar tu compra</p>
    </div>


    <div class="flex justify-center gap-4 mt-7">
      <button (click)="detailsOff()"
        class="bg-blue-600 text-white px-7 py-2 rounded-lg hover:bg-blue-800 transition duration-300">
        Atras
      </button>
      <!-- Boton de cancelar compra -->
      <button [disabled]="isExpired" (click)="isOpen = true"
      class="bg-red-600 text-white font-semibold px-5 py-1.5 rounded-lg hover:bg-red-800 transition duration-300 disabled:bg-gray-400 disabled:cursor-not-allowed">
        Cancelar compra
      </button>
    </div>

    <!-- Modal -->
    <div *ngIf="isOpen" class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center">
      <div class="bg-gray-200 rounded-md shadow-lg">
        <div class="flex justify-between gap-40 border-b border-gray-300 px-8 py-3.5 mb-4">
          <p class="font-semibold text-red-700">Eliminar compra</p>
          <button class="font-semibold text-lg px-2.5 hover:text-gray-600" (click)="isOpen = false">
            x
          </button>
        </div>
        <p class="px-8 text-xl font-bold mb-4">¿Desea continuar?</p>
        <div class="mt-5 mb-4 pr-8 flex justify-end">
          <button (click)="cancelPurchase()" class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-800">
            Aceptar
          </button>
        </div>
      </div>
    </div>
    
    <!-- Muestra mensaje de error si hay algun error 
    <p *ngIf="errorMessage" class="text-xl font-bold text-center rounded-md p-2 mx-auto w-4/5 shadow-lg"
      [ngClass]="{'text-red-600 bg-red-100 border border-red-600': !band, 'text-green-600 bg-green-50 border border-green-600': band }">
      {{ errorMessage}}
    </p>
    -->

  </div>

</div>
