/* Asegúrate de que las imágenes se ajusten correctamente */
img {
  width: 100%;
  height: auto;
}

/* Estiliza los botones de control */
button {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  padding: 8px;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
/* Estilos para los puntos de indicación */
span {
  transition: background-color 0.3s ease;
}

span.bg-gray-800 {
  background-color: #1f2937; /* Color para el punto activo */
}

span.bg-gray-400 {
  background-color: #9ca3af; /* Color para los puntos inactivos */
}
div.bg-black {
  background-color: rgba(0, 0, 0, 0.5); /* Opacidad del 50% */
  color: white;
  text-align: center;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
}

/* Asegúrate de que los puntos estén separados de la caja */
div.mb-2 {
  margin-bottom: 0.5rem;
}
