<div class="relative w-full adpatar_tam_md overflow-hidden">
  <div
    class="flex transition-transform duration-300 ease-in-out"
    [style.transform]="transform"
  >
    <div class="w-full flex-shrink-0" *ngFor="let image of images">
      <img [src]="image" class="w-full max-h-screen object-cover" alt="Image" />
    </div>
  </div>

  <!-- Controles -->
  <button
    (click)="prev()"
    class="absolute left-0 top-1/2 transform -translate-y-1/2 bg-gray-700 text-white p-2 hover:bg-black hover:bg-opacity-80"
  >
    Prev
  </button>
  <button
    (click)="next()"
    class="absolute right-0 top-1/2 transform -translate-y-1/2 bg-gray-700 text-white p-2 hover:bg-black hover:bg-opacity-80"
  >
    Next
  </button>

  <!-- Indicadores -->
  <div class="absolute bottom-0 left-0 right-0 flex flex-col items-center">
    <div class="flex justify-center mb-2">
      <span
        *ngFor="let image of images; let i = index"
        class="h-3 w-3 rounded-full md:h-4 md:w-4 mx-1.5 cursor-pointer mb-4 transition-colors duration-300"
        [class.bg-gray-800]="i === currentIndex"
        [class.bg-gray-400]="i !== currentIndex"
        (click)="goToSlide(i)"
      >
      </span>
    </div>

    <!-- Caja negra con texto -->
    <div
      class="bg-black bg-opacity-50 text-white w-full px-4 py-2 rounded text-center"
    >
      Pelicula
    </div>
  </div>
</div>
