<section>
  <app-slider [movies]="movies"></app-slider>
</section>
<section>
  <div
    class="flex flex-row flex-wrap items-center justify-center gap-4 py-4 px-4"
  >
    <app-selector
      filter="Cine"
      placeholder="Seleccionar Cine"
      [items]="cinemas"
      [selectedValue]="null"
      (change)="onSelect($event)"
      (selectionChange)="handleItemSelected($event)"
    ></app-selector>
    <app-selector
      filter="Genero"
      placeholder="Seleccionar Genero"
      [items]="genres"
      [selectedValue]="null"
      (change)="onSelect($event)"
      (selectionChange)="handleItemSelected($event)"
    ></app-selector>
  </div>
  <div class="w-full flex justify-center" id="movies">
    <div
      class="flex flex-wrap flex-row justify-around md:justify-center my-6 mx-4 gap-9"
    >
      <p
        *ngIf="filteredMovies.length === 0 || filteredMovies === null"
        class="text-xl py-32 text-red-600 text-center"
      >
        Lo lamento, no se encontraron peliculas que cumplan esta condicion
      </p>
      <a
        class="flex flex-nowrap flex-col rounded-sm w-40 h-60 border-black cursor-pointer"
        *ngFor="let movie of filteredMovies"
        [title]="movie.name"
        (click)="navigateToMovie(movie)"
      >
        <img
          class="object-cover w-full h-full"
          src="{{ movie.imageLink }}"
          alt="{{ movie.name }}"
        />
        <p
          class="bg-blue-900 text-center text-white min-w-full max-h-8 text-base py-0.5"
        >
          {{ movie.name }}
        </p>
      </a>
    </div>
  </div>
</section>

<section class="my-5">
  <h1 class="text-2xl font-bold text-center">Proximos Estrenos</h1>
  <ul>
    <li *ngFor = "let nextRelease of nextReleases">
      {{nextRelease.name}}
    </li>
  </ul>
</section>

<section>
  <div class="mt-4 py-2 px-4 bg-slate-500">
    <h2 class="text-2xl font-bold">Proximos Estrenos</h2>
    <ul class="flex gap-2 flex-col">
      <li>
        1. Santi, si podes aca hace la parte de todos los proximos estrenos sin importar el cine,
        total despues en las siguientes paginas cuando ingresen a ver los detalles o a sacar entradas
        yo voy a hacer que seleccionen un cine(mostrar solo en los cines que se encuentra esa pelicula 
        o en el caso de los estrenos los cines donde se estrena esa pelicula con su respectivo dia)
        sino seleccionaron un cine antes de ir a los detalles, y si lo seleccionaron no lo voy a pedir
        ya va a estar marcado.
      </li>
      <li>2. Hacer NGFor con los proximos estrenos y luego darle estilo</li>
      <li>3. Estaria bueno hacerlo como el slider de proximos estrenos de cinepolis, pero dejo a decision el estilo de los proximos estrenos</li>
      <li>4. Sacar estilos de la "ul" ya que solo lo hice para que puedas verlo bien</li>
    </ul>
  </div>
</section>
