<main>
  <section>
    <app-slider></app-slider>
  </section>
  <section>
    <div class="flex flex-row flex-wrap items-center justify-center gap-4 py-4">
      <app-selector
        filter="Cine"
        placeholder="Seleccionar Cine"
        [items]="cinemas"
        (itemSelected)="handleItemSelected($event)"
      ></app-selector>
      <app-selector
        filter="Genero"
        placeholder="Seleccionar Genero"
        [items]="genres"
        (itemSelected)="handleItemSelected($event)"
      ></app-selector>
    </div>
  </section>
</main>
