<div class="max-w-7xl m-auto p-6">

  <!-- Bienvenida -->
  <div>
    <div class="bg-gradient-to-r from-blue-500 to-indigo-500 text-white p-6 mb-6 rounded-lg md:py-7">
      <h1 class="text-2xl md:text-3xl font-bold">¡Bienvenido/a, {{user.name}}!</h1>
    </div>
  </div>

  <!-- Pequeño menú -->

  <div class="shadow-md p-6 rounded-lg mb-6 text-lg font-semibold bg-white">
    <div class="flex justify-around">
      <button class="p-1 border-b-4"
        [ngClass]="{'border-blue-500': option === 'compras', 'border-none': option !== 'compras'}"
        (click)="changeOption('compras')">
        Mis compras
      </button>
      <button class="p-1 border-b-4"
        [ngClass]="{'border-blue-500': option === 'datos', 'border-none': option !== 'datos'}"
        (click)="changeOption('datos')">
        Mis datos
      </button>
    </div>
  </div>


  <div class="shadow-lg rounded-lg p-6 pb-20 bg-white">

    <!-- Mis compras -->
    <div *ngIf="option === 'compras'">
      <div class="flex flex-row items-center mb-9 gap-3">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-7 fill-blue-400" viewBox="0 0 576 512">
          <path
            d="M0 24C0 10.7 10.7 0 24 0L69.5 0c22 0 41.5 12.8 50.6 32l411 0c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3l-288.5 0 5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5L488 336c13.3 0 24 10.7 24 24s-10.7 24-24 24l-288.3 0c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5L24 48C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z" />
        </svg>
        <h2 class="text-xl font-semibold md:text-2xl">Mis compras</h2>
        <p></p>
      </div>

      <!-- Mostrar un mensaje si no hay compras -->
      
      <div *ngIf="buys.length === 0" class="text-gray-600 text-center md:text-xl">No tienes compras hechas.</div>

      <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5">
        <li *ngFor="let buy of buys">
          <div class="shadow-md border-t-2 border-gray-100 rounded-lg p-6 mb-4 text-left bg-white hover:shadow-xl ">
            <h3 class="text-xl font-semibold mb-2">{{buy.description}}</h3>
            <p class="text-gray-600 mb-2">Fecha de la compra: {{buy.fechaHora | date:'medium'}}</p>
            <!-- Esto es de prueba -->
            <p class="px-5 py-1 text-xs font-bold rounded-full w-1/3"
              [ngClass]="{'bg-green-100 text-green-800': buy.status === 'valido', 
              'bg-red-100 text-red-800': buy.status !== 'valido'}">
              {{buy.status}}
            </p>
            <!-- ------------------ -->
            <button (click)="showDetails(buy)" class="bg-blue-500 text-white font-semibold mt-5 px-6 py-1.5 rounded-lg hover:bg-blue-700">
              Detalles
            </button>
          </div>
        </li>
      </ul>
    </div>
    

    <!-- Mis datos -->
    <div *ngIf="option === 'datos'">
      <div class="flex flex-row items-center mb-9 gap-3">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 fill-blue-400" viewBox="0 0 448 512">
          <path
            d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512l388.6 0c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304l-91.4 0z" />
        </svg>
        <h2 class="text-xl font-semibold md:text-2xl">Mis datos</h2>
      </div>
      <p class="text-center text-xl">En breve continuaremos con esta sección. :p</p>
    </div>
  </div>

</div>







