<!-- Parte de arriba en caso de ser manager-home-->
<div *ngIf="isManagerMode" class="max-w-4xl mx-auto ">

  <div class="flex justify-between">
    <!-- Boton para volver-->
    <button type="button" routerLink="/manager-home/managers"
      class="rounded-md border border-black mt-5 hover:bg-gray-300 ml-3 px-3 py-1">
      &larr; Volver
    </button>

    <!-- Boton para eliminar-->
    <button type="button" *ngIf="isManagerModeEdit" (click)="deleteManager()"
      class="rounded-md border border-black mt-5 bg-red-600 text-white hover:bg-red-800 mr-3 px-3 py-1">
      Eliminar Encargado
    </button>
  </div>


    <!--Texto superior si es manager editando-->
    <h1 *ngIf="isManagerModeEdit" class=" text-2xl font-bold text-center mb-5">Complete los campos que desea editar</h1>
    <!--Texto superior si es new cinema-->
    <h1 *ngIf="isManagerMode && !isManagerModeEdit " class=" text-2xl font-bold text-center mb-5">Complete los campos para crear el nuevo encargado</h1>

</div>

<!--Parte compartida:-->
<div class="flex justify-center items-center min-h-screen w-full">

  <div [ngClass]="{'bg-blue-100': !isManagerMode, 'bg-orange-100': isManagerMode, 'rounded-lg flex-grow min-w-[320px] max-w-[650px] m-5': true}">

    <div class="flex justify-center px-3 pt-4 pb-3 mt-4">
      <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" [ngClass]="{'fill-blue-500': !isManagerMode, 'fill-orange-500': isManagerMode }" viewBox="0 0 16 16">
        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
        <path fill-rule="evenodd"
          d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
      </svg>
    </div>

    <h4 [ngClass]="{'text-blue-700': !isManagerMode , 'text-orange-700': isManagerMode, 'text-center text-xl font-medium pb-2': true}">
      {{isManagerMode ? 'Encargado' : 'Crea tu cuenta'}}
    </h4>

    <form [formGroup]="registerForm"
      class=" flex flex-col items-center justify-center px-5 py-5 md:px-7">

      <div class="flex flex-col w-full my-3">
        <input type="text" formControlName="name" placeholder="Nombre"
          class="border border-gray-600 bg-gray-50 rounded-full p-2 mt-1 placeholder-gray-500 text-center">
      </div>

      <div class="flex flex-col w-full my-3">
        <input type="text" formControlName="surname" placeholder="Apellido"
          class="border border-gray-600 bg-gray-50 rounded-full p-2 mt-1 placeholder-gray-500 text-center">
      </div>

      <div class="flex flex-col w-full my-3">
        <input type="text" formControlName="dni" placeholder="Dni"
          class="border border-gray-600 bg-gray-50 rounded-full p-2 mt-1 placeholder-gray-500 text-center">
      </div>

      <!--
      <div class="flex flex-col w-full my-3">
        <input type="text" formControlName="phoneNumber" placeholder="Telefono"
          class="border border-gray-600 bg-gray-50 rounded-full p-2 mt-1 placeholder-gray-500 text-center">
      </div>
      -->

      <div class="flex flex-col w-full my-3">
        <input type="email" formControlName="email" placeholder="Email"
          class="border border-gray-600 bg-gray-50 rounded-full p-2 mt-1 placeholder-gray-500 text-center">
      </div>

      <div class="flex flex-col w-full my-3">
        <input type="password" formControlName="password" placeholder="Contraseña"
          class="border border-gray-600 bg-gray-50 rounded-full p-2 mt-1 placeholder-gray-500 text-center">
      </div>

      <!--Cines (solo si es manager)-->
      <label *ngIf="isManagerMode" class="mt-4 text-lg font-medium text-orange-700">Seleccione el cine del Encargado:</label>
      <ul>
        <li *ngFor="let cinema of allCinemas" (click)="selectCinema(cinema.id)"
          [class.active]="managerCinemaId === cinema.id"
          class="border border-gray-400 mx-3 mb-3 p-2 mt-2 hover:bg-gray-300 cursor-pointer">
      
          <div class="ml-1">
            {{ cinema.name }}
          </div>
          <div class="ml-8">
            {{ cinema.address }}
          </div>
        </li>
      </ul>
      
    <!-- Muestra mensaje de error si hay algun error -->
    <p *ngIf="messageError"
      class="text-xl font-bold text-center text-red-600 bg-red-100 border border-red-600 rounded-md p-2 mx-auto w-4/5 shadow-lg">
      {{ messageError}}
    </p>

      <!--Boton que funciona para cuando no es managerMode-->
      <button *ngIf="!isManagerMode" type="submit" [disabled]="!registerForm.valid" (click)="addUser()"
        class="border-2 border-blue-500 bg-blue-500 text-white text-xl tracking-wide rounded-full px-10 py-1 my-6 cursor-pointer hover:bg-blue-700  disabled:border-gray-500 disabled:text-gray-600 disabled:bg-gray-300">
        Registrar Usuario
      </button>

      <!--Boton que funciona para manager mode en edit y new-->
      <button *ngIf="isManagerMode" type="submit" [disabled]="!registerForm.valid || managerCinemaId === null " (click)="saveManager()"
        class="border-2 border-orange-500 bg-orange-500 text-white text-xl tracking-wide rounded-full px-10 py-1 my-6 cursor-pointer hover:bg-orange-700  disabled:border-gray-500 disabled:text-gray-600 disabled:bg-gray-300">
        {{ isManagerModeEdit ? 'Actualizar Encargado' : 'Registrar Encargado' }}
      </button>


      <!--
      <div *ngIf= "isSubmmited && !registerForm.valid">
        <p>El formulario no está completo</p>
      </div>
      -->
    </form>

  </div>

<!--
  <div *ngIf="messageError" class="m-5 text-2xl text-center"
    [ngClass]="{'text-green-600': band, 'text-red-800': !band}">
    <h2>{{messageError}}</h2>
  </div>
-->
</div>
